<main>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Create Post
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <form (submit)="onAddPost(form)" #form="ngForm">
                    <!-- <mat-error *ngIf="form.invalid && form.touched">Error:
                        <mat-error *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched">Title is required.</mat-error>
                        <mat-error *ngIf="form.controls['title'].hasError('minlength') && form.controls['title'].touched">Title minimum length is 3.</mat-error>
                        <mat-error *ngIf="form.controls['content'].hasError('required') && form.controls['content'].touched">Content is required.</mat-error>
                        <mat-error *ngIf="form.controls['content'].hasError('minlength') && form.controls['content'].touched">Content minimum length is 10.</mat-error>
                    </mat-error> -->
                    <mat-form-field>
                        <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
                        <mat-label><strong>Title</strong></mat-label>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput rows="1" name="content" ngModel required minlength="10" #content="ngModel"></textarea>
                        <mat-label><strong>Content</strong></mat-label>
                    </mat-form-field>
                    <button type="submit" mat-fab color="primary">
                        <mat-icon>save</mat-icon>
                    </button>
                </form>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</main>